<div class="main" role="main">
  <div class="container">

    <div class="row">
      <div class="col-sm-6">

        <!-- Marketing -->
        <div class="marketing">
          <div class="app-meta">
            {% if site.enable.app_icon %}
              <img
                class="app-icon"
                style="min-width: 92px;"
                height="auto"
                {% if site.app.icon %} src="{{ site.app.icon }}"{% endif %}
              />
            {% endif %}
            <!--<span class="app-name">{{ site.app.name }}</span> -->
            <img src="https://raw.githubusercontent.com/dylangwight/colorue-landing-page/gh-pages/images/ColorueTitle.png" alt="Colorue" width="130">

          </div>

          {% if site.marketing_header %}
          <h2 class="marketing-header">{{ site.marketing_header }}</h2>
          {% endif %}

          <p class="list">Colorue's features:</p>

          <ul class = "list">
            <li>Mix colors together to easily use any hue</li>
            <li>See what's beneath your thumb with the "under-finger-view"</li>
            <li>Follow your friends and family to see what they create</li>
            <li>Send your drawings as texts, share with your followers, or post to Facebook</li>
            <li>Completely FREE</li>
          </ul>
          <br>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//colorue.us14.list-manage.com/subscribe/post?u=c342206b889a9811a755c768d&amp;id=6f7667be40" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Become a Beta Tester</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c342206b889a9811a755c768d_6f7667be40" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

      <!--    <div class="download-buttons" align="center">-->
      <!--      <a-->
      <!--        href="https://itunes.apple.com/app/id{{ site.app.ios_id }}?mt=8&at={% include apple-affiliate.html %}">-->
      <!--        <img src="https://raw.githubusercontent.com/dylangwight/colorue-landing-page/gh-pages/images/downloadIcon.png" alt="Download from the App Store" width="200">-->
      <!--      </a>-->

      <!--      {% if site.app.android_id %}-->
      <!--      <a-->
      <!--        class="download-btn btn btn-lg"-->
      <!--        href="https://play.google.com/store/apps/details?id={{ site.app.android_id }}">-->
      <!--        <i class="fa fa-android fa-lg" aria-hidden="true"></i> Google Play-->
      <!--      </a>-->
      <!--      {% endif %}-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->


      <div class="col-sm-6">

        <!-- App Screenshot(s) -->
        <div class="device {{ site.device }}">
          <img
            class="app-screenshot"
            {% if site.app.screenshot %}src="{{ site.app.screenshot }}"{% endif %}
          />
        </div>
      </div>
    </div>

  </div>
</div>

<div class="social">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% include social.html %}
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="container">
    <!-- footer text here -->
  </div>
</div>
